/.vscode
/.vs
/build*
/figures
/out
/results
/tmp
/venv
/video
/*.json
*.msgpack
*.training
__pycache__
.DS_Store
imgui.ini

/data/nerf/*
!/data/nerf/fox
!/data/nerf/read_transform.py
!/data/nerf/formattter.sh

